---
import type { MapMarker, PlayerMarker } from "@/types/Leaflet";
import type { MapOverlayProps } from "@/types/Map";

import SearchMarkers from "./overlay/SearchMarkers.vue";
import MapOverlayBreadcrumbs from "./MapOverlayBreadcrumbs.astro";

interface Props extends MapOverlayProps {}

const {
    mapKey,
    markers = [] as MapMarker[],
    players = {} as PlayerMarker,
    searchConfig = {
        disableCapitals: false,
        disableLandmarks: false,
        disableQuests: false,
    },
    breadcrumbs = [],
} = Astro.props
---

<div class="world-overlay">
    <SearchMarkers client:only="vue" mapKey={mapKey} markers={markers} players={players} searchConfig={searchConfig} >
        <div slot="fallback" style="height: 45px;"></div>
    </SearchMarkers>

    <MapOverlayBreadcrumbs breadcrumbs={breadcrumbs} />
</div>

<style lang="scss">
.world-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;
    pointer-events: none;
    display: grid;
    row-gap: .25rem;
}
</style>
